* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: antiquewhite;
    display: flex;
    flex: 10;
}